<div *ngIf="status == 'before' || status == 'running' || status == 'after'">
  <img [src]="action.icon" height="100" (click)="onActionClick(true)">
  <img *ngFor="let kid of action.kids" [src]="'./assets/' + kid + '.png'" height="100" (click)="onKidClick(kid)"> 
  <div *ngIf="playing">
    <audio #player autoplay (ended)="playing = false">
      <source [src]="action.alarm">
    </audio>
  </div>
</div>
<div
    *ngIf="status == 'before' || status == 'running'"
    style="background-color: gray; width: 400px;height: 10px;">
  <div
      [style.width]="(400 / (action.duration + action.show_before) * (time - action.time + action.show_before)) + 'px'"
      [style.background-color]="status == 'before' ? 'red' : 'green'"
      style="background-color: red; height: 10px;"></div>
</div>
<pre *ngIf="debug">
{{action.name}}
{{status}}
Action Time: {{action.time | date:'EEE h:mm:ss a'}}
      Timer: {{time | date:'EEE h:mm:ss a'}}
</pre>
