
<div *ngFor="let kid_stars of stars">
  <div style="display: inline;"><img [src]="'./assets/' + kid_stars.$key + '.png'" height="50"></div>

  <div style="display: inline;">
    <img
        *ngFor="let star of kid_stars.stars"
        height="40"
        src="http://images.clipartpanda.com/clipart-star-RTA9RqzTL.png">
  </div>
</div>
<div class="text" *ngFor="let action of actions | async">
  <div *ngIf="isScheduled(action)">
    <app-action
        (onFinished)="onFinish($event)"
        (onReady)="onReady(action, $event)"
        (onStatus)="onStatus(action, $event)"
        [checkRunning]="checkRunning.bind(this)"
        [action]="action"></app-action>
  </div>
</div>