<div>
  <div *ngFor="let kid_stars of stars">
    {{kid_stars.$key}} has {{kid_stars.stars.length}} stars.
    <button (click)="star(kid_stars.$key)">Add star</button>

    <button
        *ngFor="let star of kid_stars.stars"
        (click)="removeStar(kid_stars.$key, star)">Remove Star</button>
  </div>
  <textarea width="500" height="500" #newAction></textarea>
  <button (click)="saveAction(newAction.value)">Submit</button>

  <div class="text" *ngFor="let item of items | async">
    {{item.name}}: {{item.time | date}}
    <div>
      <button (click)="now(item)">Now</button>
      <button (click)="finish(item)">Finish</button>
      <button (click)="newAction.value = jsonify(item)">Edit</button>
      <button *ngFor="let kid of item.kids" (click)="star(item, kid)">Star {{kid}}</button>
    </div>
  </div>
</div>